<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">
    <h1>Обновить пользователя</h1>

</head>
<body>
<form th:method="POST" th:action="@{/updateuser}" th:object="${user}">

    <input type="hidden" th:field="*{id}"/>

    <label>Введите имя: </label>
    <input type="text" th:field="*{name}" id="firstName"/>

    <label>Введите Фамилию: </label>
    <input type="text" th:field="*{lastName}" id="lastName"/>

    <label>Введите возраст: </label>
    <input type="text" th:field="*{age}" id="age"/>

    <button type="submit">Сохранить</button>
</form>
</body>
</html>